<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <p>The page is used for <%= title %></p>
    Account: <input></input>
    <br>
    Password:<input></input>
    <br>
    <button id="btn" onclick="reg()">注册</button>
<script>
    function reg(){
        window.location='/go'
    }
</script>
</body>
</html>
