<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <p><%= name %>近几天的天气预报如下：</p>
<ul>
    <% for (var i=0;i<数组.length;i++){%>
        <li>
            <%=data[i]%>
        </li>
    <%} %>
</ul>
</body>
</html>
